
<h2>Ordered Products</h2>
<div class = "container">
    <div class="row">
        <div class="col-md-2" *ngFor="let product of orderedProductList">
            <div class="col-lg-8">
                <div class = "shadow-lg p-3 mb-5 bg-white rounded">
                    <div>
                        <h4>{{product.title}}</h4>
                    </div>
                    
            
                <span class = "align-middle">
                    <img 
                    [src]="product.imagepath" 
                    alt="{{product.title}}"
                    class = "img-fluid">
                </span>
        </div>

    </div>
</div>