<div class="container">
    <form #registerForm = "ngForm" (ngSubmit)="onAddUser(registerForm)">
        <div class="row">
            <div class = "mb-3">
                <!-- <label for = "name" class="form-label">Name</label>
                <input type="name" class="form-control" placeholder="Name" name="name" ngModel required #name="ngModel">
                <div *ngIf="name.touched && name.invalid">
                    Title is required
                </div> -->
                

            </div>
        </div>

        <div class="row">
            <div class = "mb-3">
                <label for = "mobileno" class="form-label">Mobile Number</label>
                <input type="text" class="form-control" placeholder="Mobile Number" name="mobileno" ngModel required #mobileno="ngModel">
                <div *ngIf="mobileno.touched && mobileno.invalid">
                    Mobile Number is required
                </div>
            </div>
        </div>

        <div class="row">
            <div class = "mb-3">
                <label for = "email" class="form-label">Email</label>
                <input type="text" class="form-control" placeholder="Email" name="email" ngModel required #email="ngModel">
                <div *ngIf="email.touched && email.invalid">
                    Email is required
                </div>
            </div>
        </div>

        <div class="row">
            <div class = "mb-3">
                <label for = "address" class="form-label">Address</label>
                <input type="text" class="form-control" placeholder="Address" name="address" ngModel required #address="ngModel">
                <div *ngIf="address.touched && address.invalid">
                    Address is required
                </div>
            </div>
        </div>

        <div class="row">
            <div class = "mb-3">
                <label for = "id" class="form-label">Id</label>
                <input type="text" class="form-control" placeholder="Id" name="id" ngModel required #id="ngModel">
                <div *ngIf="id.touched && id.invalid">
                    Id is required
                </div>
            </div>
        </div>

        <div class="row">
            <div class = "mb-3">
                <label for = "taxno" class="form-label">Tax Number</label>
                <input type="text" class="form-control" placeholder="Tax Number" name="taxno" ngModel required #taxno="ngModel">
                <div *ngIf="taxno.touched && taxno.invalid">
                    Tax Number is required
                </div>
            </div>
        </div>

        <div class="row">
            <div class = "mb-3">
                <label for = "location" class="form-label">Location</label>
                <input type="text" class="form-control" placeholder="Location" name="location" ngModel required #location="ngModel">
                <div *ngIf="location.touched && location.invalid">
                    Location is required
                </div>
            </div>
        </div>
        <div class = "col-auto">
            <button class = "btn btn-primary" [disabled]="!registerForm.form.valid">Add User</button>
        </div>
    </form>
</div>