

<div class="col-md-12">
    <!-- <div class="col-md-2"> -->
    <div class="card h-100" >

    <img
      [src]="employee.imagepath"
      class="card-img-top"
      alt="{{employee.name}}"
    />

    <div class="card-body">
      <h5 class="card-title">{{employee.name}}</h5>
      <p class="card-text">
        Employee-id: {{employee.empid}}
      </p>
      <p class="card-text">
        Designation: {{employee.designation}}
      </p>
      <!-- <a href="#!" class="btn btn-primary">Button</a> -->
    </div>
  </div>
</div>
